$text-color:#222121;
@mixin formatoTexto($bg-color:rgb(209, 162, 255)) {
    color: $text-color;
    text-transform: uppercase;
    width: 50rem;
    background-color: $bg-color;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}